<div class='pure-g'>
  <div class='pure-u-1 pure-u-sm-1-2'>
    © <%= Time.zone.now.year %> Budget App
  </div>
  <div class='pure-u-1 pure-u-sm-1-2 footer-links'>
    <a href=''> Privacy </a>
    <a href=''> Terms </a>
    <a href=''> Contact </a>
    <a href=''> About </a>
  </div>
</div>
