<div class='header-bar sticky'>
  <div class='header-inner'>
    <a href=<%= root_path %>>
      <span class='brand'><%= fa_icon 'money', class: 'logo' %>
        Budget App 
      </span>
    </a>
  </div>
</div>
