footer {
  max-width: 960px;
  margin: 5px auto 10px auto;
  padding: 0 10px;
  font-size: 13px;
  color: grey;
  text-align: left;

  a {
    color: rgb(0, 120, 231);
    margin-left: 2px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  @media screen and (min-width: 35.5em) {
    text-align: left;

    .footer-links {
      text-align: right;
    }
  }
}
