main {
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
}

h1.large-balance {
  // float: right;
  // text-align: right;
  margin: 5px;
  color: rgb(39, 234, 165);
  font-size:46px;

  &.negative {
    color: rgb(254, 95, 76);
  }
}

input[type='checkbox'] {
  width: 24px;
  height: 24px;
}

.form-row{
  margin-bottom: 10px;
}
.subtext{
  font-size: 12px;
  color: #777;
}

.budget-list a {
  text-decoration: none;
}

.positive-color {
  color: rgb(39, 234, 165);
}

.negative-color {
  color: rgb(254, 95, 76);
}

.small-bottom-margin {
  margin-bottom: 5px;
}

.budget-name {
  margin: 5px 0;
}

.bold {
  font-weight: bold;
}

.center{
  text-align: center;
}

.hide {
  display: none;
}

// .amount-field{
//   width:90px;
// }

// .note-field{
//   width:180px;
// }

.one-hundred{
  width: 100%;
}

.top-margin{
  margin-top:25px;
}

.transaction-log {
  margin-bottom: 15px;
}

.transaction-table {
  width: 100%;
  font-size: 14px;

  &.pure-table {
    border: none;
    border: 1px solid #EEE;
    table-layout:fixed;
    word-wrap:break-word;
  }
  
  &.pure-table thead {
    background: none;
  }
}

.new-transaction .pure-form input[type=number], .new-transaction .pure-form input[type=text]{
  box-shadow: none;
  -webkit-appearance: none;
}


