main {
  max-width: 960px;
  margin: 0 auto;
  padding: 10px;
  margin-top: 60px;
}

h1.large-balance {
  // float: right;
  // text-align: right;
  margin: 5px;
  color: rgb(39, 234, 165);
  font-size:46px;

  &.negative {
    color: rgb(254, 95, 76);
  }
}

.hide {
  display: none;
}

.pull-right{
  float: right;
}

.pure-button.pure-button-white{
  background-color:white;
  border: 1px solid #999;
}

.pure-button.pure-button-danger{
  background-color:red;
  color: white;
}


input[type='checkbox'] {
  width: 24px;
  height: 24px;
}

.form-row{
  margin-bottom: 10px;
}
.subtext{
  font-size: 12px;
  color: #777;
}

.budget-list a {
  text-decoration: none;

  .budget-list-row{
    margin-bottom: 15px;
  }
  h2 {
    margin: 0;
  }
}

.positive-color {
  color: rgb(39, 234, 165);
}

.negative-color {
  color: rgb(254, 95, 76);
}

.small-bottom-margin {
  margin-bottom: 5px;
}

.budget-name {
  margin: 5px 0;
}

.bold {
  font-weight: bold;
}

.center{
  text-align: center;
}

.hide {
  display: none;
}

small {
  font-weight: normal;
  color: grey;
  margin-left: 6px;
}

.one-hundred{
  width: 100%;
}

.top-margin{
  margin-top:25px;
}

.transaction-log {
  margin-bottom: 15px;
}

.pure-table-striped-fixed tr:nth-child(4n+1), .pure-table-striped-fixed tr:nth-child(4n+2) td {
  background-color: #f2f2f2;
}

.transaction-table {
  width: 100%;
  font-size: 14px;

  &.pure-table {
    border: none;
    border: 1px solid #EEE;
    table-layout:fixed;
    word-wrap:break-word;
  }
  
  &.pure-table thead {
    background: none;
  }

  .detail-row-div {
    padding: 1em 1em 0.5em 1em;
    border-bottom: 1px solid #cbcbcb;
  }

  .click-to-expand {
    cursor:pointer;
  }
}

.new-transaction .pure-form input[type=number], .new-transaction .pure-form input[type=text]{
  box-shadow: none;
  -webkit-appearance: none;
}


